.main-container {
 width: 1064px;
 height: 713px;
 top: 208px;
 left: 300px;
 gap: 0px;
 border-radius: 16px ;
 border: 1px;
 position: relative;
 border: 1px solid #A6A6A6;
 background-color: #EFEFEF;



}

.main-container img {
  top: 52px;
  left: 52px;
  position: absolute;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.form-title {
  top: 38px;
  left: 580px;
  position: absolute;
  width: 118px;
  height: 28px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-container {
  top: 52px;
  right: 52px;
  position: absolute;
  padding: 30px;
  border-radius: 0px;
  width: 400px;
  height: 603px;
}

.form-container ul {
  list-style: none;
  padding: 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container li {
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check input {
  margin-right: 10px;
}

.text-danger {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[disabled] {
  background-color: #07689F;
  cursor: not-allowed;
}

button:not([disabled]):hover {
  background-color: #0056b3;
}

p{
font-style: Typography_Desktop/Subtitle S;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 16.8px;
text-align: center;

}
.social{
  text-align: center;

}
svg{
  padding-right: 15px;

}